@tailwind base;
@tailwind components;
@tailwind utilities;

.wprcb-input {
	border: 1px solid #111827 !important;
	padding: 10px 16px !important;
}

.wprcb-input:focus {
	border-color: #2563eb !important;
}
